.gradle

build/**
!build/
!build/libs/
!build/libs/*.jar
build/libs/*-plain.jar

.git
.gitignore

.idea
.vscode
*.iml

.DS_Store
Thumbs.db

.env
.env.*
!.env.example

Dockerfile
.dockerignore
README.md